Task1_NumberGuessingGame.exe
Task1_NumberGuessingGame.obj
Task1_NumberGuessingGame.pdb
vc140.pdb
Task1_NumberGuessingGame.ilk
*.exe
Task2_SimpleCalculator.ilk
Task2_SimpleCalculator.obj
Task2_SimpleCalculator.pdb
